$font-size-header: 24px;
$font-size-input: 14px;

mat-toolbar {
  background-color: white;
  font: inherit;
}

.input,
form{
  height: 100%;
}

span.header {
  font-size: $font-size-header;
}

.input {
  margin: 5px;
  opacity: 80%;
  font-size: 13px;
}

mat-form-field {
  display: block;
}

mat-icon {
  opacity: 50%;
}

.gallery {
  background-color: rgb(244, 244, 244);
  padding: 16px;
  min-height: 100%;
  display: block;
  overflow: auto;
}

section {
  padding: 5%;
}

h1 {
  text-align: center;
}
