$max-height: 315px;

body {
  font-weight: 400;
}

h4,
h5 {
  margin: 0;
  line-height: 1.95;
}

mat-card {
  max-width: $max-height * 0.69;
  height: $max-height;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.company_logo {
  transform: translateY(-70%);
}

.profile_photo {
  width: 100%;
  height: 100%;
}

.photos,
.text,
.PhoneEmail {
  width: 100%;
  padding: 5%;
}

.text,
.PhoneEmail {
  height: 15%;
}

.photos {
  height: 0.7 * $max-height;
}

.mouseIn {
  .profile_photo {
    clip-path: inset(0 0 45% 0);
  }
  .company_logo {
    transform: translateY(-0.4 * $max-height);
  }

  .text,
  .PhoneEmail {
    transform: translateY(-0.22 * $max-height);
  }
}
